@media (max-width: 700px) {
  /* general css */
  /* center */
  * {
    font-family: "Baloo 2", cursive;
  }
  .nav-links a {
    display: block;
  }
  /* this is use to create the slide nav-bar */
  .nav-links {
    position: fixed;
    background-color: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: center;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    font-size: 1.5rem;
    display: block;
    margin: 0.5em;
    cursor: pointer;
  }
  nav .fa-times {
    text-align: left;
    color: #fff;
  }
  nav .fa-bars {
    color: #f44336;
  }
  .nav-links a {
    padding: 1.8em;
  }
  .nav-links .nav-tabs:hover {
    color: #fff;
  }
  /* home services */
  .display-1 {
    flex-direction: column;
    font-size: 1rem;
  }
  #home-delivery-img {
    width: 100%;
  }
  .standard {
    width: 100%;
    margin: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(190, 189, 189);
  }
  /* footer */
  .footer {
    text-align: center;
    flex: 0 0 10%;
    flex-direction: column;
  }
  div.copyrights {
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1.5rem;
  }
  div.connect-with-us {
    flex-direction: column;
  }
  div.connect-with-us p {
    margin: 2rem -5rem 4rem 7rem;
    display: block;
    width: 100%;
  }
  div.connect-with-us p a img {
    /* max-width: 100%; */
    width: max-content;
    height: auto;
    margin: 1rem auto auto 1.5rem;
  }
  div.downloads {
    width: 65%;
    max-width: 100%;
  }
  div.downloads p {
    margin: auto 1.5rem;
  }
  div.downloads p img {
    margin: auto 1.5rem;
    padding-top: 0.5rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
  nav.footer-nav {
    width: 68%;
    margin: auto 6rem;
  }
}

@media screen and (max-width: 691px) {
    .typing-demo {
        width: 22ch;
        font-size: 2rem;
    }
  }