@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
  --grey: rgba(170, 166, 166, 0.2);
  --green: rgb(0, 255, 115);
  --gradient: linear-gradient(90deg, var(--purple), var(--pink));
  --shadow: rgb(190, 189, 189);
  --primary-color: hsl(231, 69%, 60%);
  --black: rgba(59, 58, 58, 0.568);
}

/* general css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: none;
  scroll-behavior: smooth;
}
body {
  font-size: 16px;

  font-family: "Libre Baskerville", serif;
}

/* heading */

/* center */

.center {
  display: block;
  margin: auto;
  width: 100%;
}

/* section */

section {
  margin: 3.5rem 5rem;
}

/* .description styling starts */

.description {
  position: relative;
  margin: auto 5rem;
}

.dimension {
  margin: 2rem 0.5rem auto 0rem;
  border-radius: 0.9rem;
  height: 560px;
  opacity: 0.9;
}

.custom-btn {
  position: sticky;
  top: 80%;
  left: 15%;
  transform: translate(-46%, 81%);
  -ms-transform: translate(-50%, -50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(228, 56, 25);
  background: linear-gradient(135deg, #6da2ec 20%, #00d2ff 51%, #00d2ff 10%);
  font-size: 1rem;
  padding: 0.3rem 1.5rem;
  font-weight: bolder;
  z-index: 100;
  border-radius: 1.5rem;
  border: 0.2rem outset rgba(236, 255, 236, 0.493);
}

.custom-btn:hover[type="button"],
.btn:hover {
  color: black;
  background: linear-gradient(45deg, #00d2ff 30%, #3a7bd5 100%, #00d2ff 10%);
  transition: linear 0.2s all;
}

/* content csss */
.content {
  position: relative;
  font-size: 1rem;
}
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 4s steps(22), blink 0.2s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3rem;
  animation-iteration-count: infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.content {
  position: relative;
  font-size: 1rem;
}

/* Intro Card */

.showcase {
  height: 400px;
  position: relative;
}

.showcase h1 {
  font-size: 2.5em;
  padding-top: 1em;
}

.showcase-form {
  left: 9%;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 2.6em;
  z-index: 1;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -80px;
  right: 0;
  left: 0;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

#card {
  color: #fff;
  background-color: transparent;
  border: 0;
  width: 100%;
}

/* home servics section */

/* deep dive button */

.display-1 {
  display: flex;
  justify-content: space-between;
}

#go_deep {
  font-size: 0.9rem;
}

#home-delivery-img {
  width: 30%;
  height: 100%;
  margin: 2rem 0 2rem 0;
}

.text_center {
  flex: 0 0 15%;
  justify-content: center;
  align-items: center;
}

/* e-commerce section */

a.product-posters {
  box-sizing: border-box;
  margin: 2rem auto;
  overflow: hidden;
  box-shadow: 0.4rem 0.3rem 0.2rem 0.3rem #d6d3d3;
  border: 2px groove #d6d3d3;
  border-radius: 0.5rem;
  max-width: 100%;
}

a.product-posters img {
  width: auto;
  /* margin: auto; */
  height: auto;
}

a.product-posters:hover {
  box-shadow: 0.4rem 0.1rem 0.1rem 0.1rem var(--black);
  border-color: var(--black);
}

/* e-commerce ends here */

/* e-commerce ends here */
